{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Facial recognition</h1>

    <input type="file" name="myfile" />
    <select name="img_type">
    <option value="criminal">Criminal</option>
    <option value="victim">Victim</option>
    </select><br><br>
    <input type="submit" name="Submit" value="Submit">
  </form>
 

  {% if uploaded_file_url %}
    
    
    <img id="profileImage" src="data:image/jpg;base64, {{ ba }}"><br><br>
    <p>{{ img_name }}</p>
    <h3>Confidence={{ confidence }}%</h3><br>
  {% endif %}

	

{% endblock %}
